 body {
            font-family: Arial, sans-serif;
              background-image: url('https://www.xtrafondos.com/wallpapers/porsche-911-gt3-rs-blanco-13079.jpg   ');
              background-repeat: no-repeat;
              background-size: cover;
              background-attachment: fixed;
            padding: 30px;
        }

        .container {
            max-width: 880px;
            margin: auto;
        }

        .brand-box {
            background: white;
            border-radius: 12px;
            padding: 25px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            margin-bottom: 40px;
        }

            .brand-box:hover {
            box-shadow: 0 8px 15px rgba(0,0,0,0.2); 
         }

        .brand-box h1 {
            margin-top: 0;
            color: #c40000;
        }

        .models {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .model-card {
            background: white;
            width: 250px;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 5px 8px rgba(0,0,0,0.1);
            text-align: center;
            transition: box-shadow 0.3s ease; 
            background-color 0.4s ease; 
        }

        .model-card:hover {
            box-shadow: 0 8px 15px rgba(0,0,0,0.2); 
            background-color: #ffe5e5;
        }

        .model-card img {
            width: 100%;
            border-radius: 8px;
            transition: transform 0.5s ease-out; 
        }

        .model-card:hover img {
            transform: translateX(50px); 
        }

        .model-card h3 {
            margin: 10px 0 5px;
        }

        .model-card p {
            font-size: 14px;
            color: #555;
        }